<form method="post" action="{{ path('propiedades_delete', {'id': propiedade.id}) }}" onsubmit="return confirm('Are you sure you want to delete this item?');">
    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ propiedade.id) }}">
    <button class="btn">Delete</button>
</form>
