{% extends 'base.html.twig' %}

{% block title %}Edita la Propiedad{% endblock %}

{% block body %}
    <h1>Edita la propiedad</h1>
    <main class="contenedor seccion">
    <div class="formulario">
    {{ include('propiedades/_form.html.twig', {'button_label': 'Actualizar'}) }}
    </div>
    <a class="boton boton-verde" href="{{ path('propiedades_index') }}">Volver</a>
    </main>    
{% endblock %}
