{% extends 'base.html.twig' %}

{% block title %}Propiedades{% endblock %}

{% block body %}
    <h1>Propiedades</h1>

    {# <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Nombre</th>
                <th>Precio</th>
                <th>Imagen</th>
                <th>Descripcion</th>
                <th>Habitaciones</th>
                <th>Wc</th>
                <th>Parking</th>
                <th>Creado</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for propiedade in propiedades %}
            <tr>
                <td>{{ propiedade.id }}</td>
                <td>{{ propiedade.nombre }}</td>
                <td>{{ propiedade.precio }}</td>
                <td>{{ propiedade.imagen }}</td>
                <td>{{ propiedade.descripcion }}</td>
                <td>{{ propiedade.habitaciones }}</td>
                <td>{{ propiedade.wc }}</td>
                <td>{{ propiedade.parking }}</td>
                <td>{{ propiedade.creado ? propiedade.creado|date('Y-m-d') : '' }}</td>
                <td>
                    <a href="{{ path('propiedades_show', {'id': propiedade.id}) }}">show</a>
                    <a href="{{ path('propiedades_edit', {'id': propiedade.id}) }}">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="10">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table> #}


    <main class="contenedor seccion">
    <a href="{{ path('propiedades_new') }}" class="boton boton-verde">Nueva Propiedad</a>

        <table class="propiedades">
            <thead>
                <tr>
                    <th>ID</th>
                    <th>Nombre</th>
                    <th>Imagen</th>
                    <th>Precio</th>
                    <th>Acciones</th>
                </tr>
            </thead>
            <tbody> <!--Mostrar los resultados-->
            {% for propiedade in propiedades %}
                <tr>
                    <td>{{ propiedade.id }}</td>
                    <td>{{ propiedade.nombre }}</td>
                    <td><img src="/build/img/{{ propiedade.imagen }}" alt="" class="imagen-tabla"></td>
                    <td>{{ propiedade.precio }}€</td>
                    <td>
                        <a href="{{ path('propiedades_edit', {'id': propiedade.id}) }}" class="boton-amarillo-block">Actualizar</a>
                        <form method="post" action="{{ path('propiedades_delete', {'id': propiedade.id}) }}" onsubmit="return confirm('¿Estás seguro de eliminar esta propiedad?');" class="w-100">
                            <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ propiedade.id) }}">
                            <button  class="boton-rojo-block">Eliminar</button>
                        </form>
                    </td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
        </main>
{% endblock %}
