{% extends 'base.html.twig' %}

{% block title %}Nueva Propiedad{% endblock %}

{% block body %}
    <h1>Crea una nueva propiedad</h1>

    <main class="contenedor seccion">
        <div class="formulario">
            {{ include('propiedades/_form.html.twig') }}
        </div>
        <a class="boton boton-verde" href="{{ path('propiedades_index') }}">Volver</a>
    </main>
{% endblock %}
