{% extends 'base.html.twig' %}

{% block title %}Propiedades{% endblock %}

{% block body %}
    <h1>Propiedades</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ propiedade.id }}</td>
            </tr>
            <tr>
                <th>Nombre</th>
                <td>{{ propiedade.nombre }}</td>
            </tr>
            <tr>
                <th>Precio</th>
                <td>{{ propiedade.precio }}</td>
            </tr>
            <tr>
                <th>Imagen</th>
                <td>{{ propiedade.imagen }}</td>
            </tr>
            <tr>
                <th>Descripcion</th>
                <td>{{ propiedade.descripcion }}</td>
            </tr>
            <tr>
                <th>Habitaciones</th>
                <td>{{ propiedade.habitaciones }}</td>
            </tr>
            <tr>
                <th>Wc</th>
                <td>{{ propiedade.wc }}</td>
            </tr>
            <tr>
                <th>Parking</th>
                <td>{{ propiedade.parking }}</td>
            </tr>
            <tr>
                <th>Creado</th>
                <td>{{ propiedade.creado ? propiedade.creado|date('Y-m-d') : '' }}</td>
            </tr>
        </tbody>
    </table>

    <a href="{{ path('propiedades_index') }}">back to list</a>

    <a href="{{ path('propiedades_edit', {'id': propiedade.id}) }}">edit</a>

    {{ include('propiedades/_delete_form.html.twig') }}
{% endblock %}
