{% extends "base.html.twig" %}

{% block body %}
    <main class="contenedor seccion">
        <h1>Sobre nosotros</h1>
        <div class="iconos-nosotros">
            <div class="icono">
                <img src="build/img/icono1.svg" alt="Icono seguridad" loading="lazy">
                <h3>Seguridad</h3>
                <p>Lorem ipsum dolor sit amet, consectetur </p>
            </div>
            <div class="icono">
                <img src="build/img/icono2.svg" alt="Icono precio" loading="lazy">
                <h3>Precio</h3>
                <p>Lorem ipsum dolor sit amet, consectetur </p>
            </div>
            <div class="icono">
                <img src="build/img/icono3.svg" alt="Icono tiempo" loading="lazy">
                <h3>Tiempo</h3>
                <p>Lorem ipsum dolor sit amet, consectetur </p>
            </div>
        </div>
    </main>
    <section class="seccion contenedor">
        <h2>Casas y Pisos en venta</h2>

        <div class="contenedor-anuncios">
        {% for propiedade in propiedades %}
            <div class="anuncio">
                <img src={{ asset('../../build/img/' ~ propiedade.imagen) }} alt="Anuncio" loading="lazy">
                <div class="contenido-anuncio">
                    <h3>{{ propiedade.nombre }}</h3>
                    <p>{{ propiedade.descripcion }}</p>
                    <p class="precio">{{ propiedade.precio }}€</p>
                    <ul class="iconos-caracteristicas">
                        <li>
                            <img class="icono" src="build/img/icono_wc.svg" alt="icono wc" loading="lazy">
                            <p>{{ propiedade.wc }}</p>
                        </li>
                        <li>
                            <img class="icono" src="build/img/icono_estacionamiento.svg" alt="icono estacionamiento" loading="lazy">
                            <p>{{ propiedade.parking }}</p>
                        </li>
                        <li>
                            <img class="icono" src="build/img/icono_dormitorio.svg" alt="icono dormitorio" loading="lazy">
                            <p>{{ propiedade.habitaciones }}</p>
                        </li>
                    </ul>
                </div> <!--Contenido anuncio-->
            </div><!--Anuncio-->
        {% endfor %}
        </div><!--Contenedor de anuncios-->
    </section>
    <section class="imagen-contacto" style="background-image:url('{{asset('/build/img/encuentra.jpg')}}')">
        <h2>Encuentra la casa de tus sueños</h2>
        <p>Llena el formulario de contacto y un asesor se pondrá en contacto contigo</p>
        <a href="/contact" class="boton boton-amarillo">Contáctanos</a>
    </section>
    <div class="contenedor seccion seccion-inferior">
        <section class="blog">
            <h3>Nuestro Blog</h3>
            <article class="entrada-blog">
                <div class="imagen">
                    <picture>
                        <source srcset="/build/img/blog1.webp" type="image/webp">
                        <source srcset="/build/img/blog1.jpg" type="image/jpg">
                        <img src="/build/img/blog1.jpg" alt="Texto entrada blog" loading="lazy">
                    </picture>
                </div>
                <div class="texto-entrada">
                    <a href="#">
                        <h4>Terraza en el techo de tu casa</h4>
                        <p class="info-meta">Escrito el: <span>20/10/2021</span> por: <span>Admin</span></p>
                        <p>Consejos para construir una terraza en el techo de tu casa con los mejores materiales y ahorrando dinero.</p>
                    </a>
                </div>
            </article>
            <article class="entrada-blog">
                <div class="imagen">
                    <picture>
                        <source srcset="build/img/blog2.webp" type="image/webp">
                        <source srcset="build/img/blog2.jpg" type="image/jpg">
                        <img src="build/img/blog2.jpg" alt="Texto entrada blog" loading="lazy">
                    </picture>
                </div>
                <div class="texto-entrada">
                    <a href="#">
                        <h4>Guia para la decoración de tu hogar</h4>
                        <p class="info-meta">Escrito el: <span>15/10/2021</span> por: <span>Jaime</span></p>
                        <p>Maximiza el espacio en tu hogar con esta guia, aprende a combinar muebles y colores para darle vida a tu espacio</p>
                    </a>
                </div>
            </article>
        </section>
        <section class="testimonials">
            <h3>Testimonials</h3>
            <div class="testimonial">
                <blockquote>
                    El personal se ha comportado de una excelente forma, muy buena atencion y la casa que me ofrecieron cumple con todas mis expectativas.
                </blockquote>
                <p>- Juan de la Torre</p>
            </div>
        </section>
    </div>
{% endblock %}