<form method="post" action="{{ path('vendedores_delete', {'id': vendedore.id}) }}" onsubmit="return confirm('Are you sure you want to delete this item?');">
    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ vendedore.id) }}">
    <button class="btn">Delete</button>
</form>
