{% extends 'base.html.twig' %}

{% block title %}Edit Vendedores{% endblock %}

{% block body %}
    <h1>Edit Vendedores</h1>

    {{ include('vendedores/_form.html.twig', {'button_label': 'Update'}) }}

    <a href="{{ path('vendedores_index') }}">back to list</a>

    {{ include('vendedores/_delete_form.html.twig') }}
{% endblock %}
