{% extends 'base.html.twig' %}

{% block title %}Vendedores index{% endblock %}

{% block body %}
    <h1>Vendedores index</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Nombre</th>
                <th>Apellidos</th>
                <th>Telefono</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for vendedore in vendedores %}
            <tr>
                <td>{{ vendedore.id }}</td>
                <td>{{ vendedore.nombre }}</td>
                <td>{{ vendedore.apellidos }}</td>
                <td>{{ vendedore.telefono }}</td>
                <td>
                    <a href="{{ path('vendedores_show', {'id': vendedore.id}) }}">show</a>
                    <a href="{{ path('vendedores_edit', {'id': vendedore.id}) }}">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="5">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('vendedores_new') }}">Create new</a>
{% endblock %}
