{% extends 'base.html.twig' %}

{% block title %}New Vendedores{% endblock %}

{% block body %}
    <h1>Create new Vendedores</h1>

    {{ include('vendedores/_form.html.twig') }}

    <a href="{{ path('vendedores_index') }}">back to list</a>
{% endblock %}
