{% extends 'base.html.twig' %}

{% block title %}Vendedores{% endblock %}

{% block body %}
    <h1>Vendedores</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ vendedore.id }}</td>
            </tr>
            <tr>
                <th>Nombre</th>
                <td>{{ vendedore.nombre }}</td>
            </tr>
            <tr>
                <th>Apellidos</th>
                <td>{{ vendedore.apellidos }}</td>
            </tr>
            <tr>
                <th>Telefono</th>
                <td>{{ vendedore.telefono }}</td>
            </tr>
        </tbody>
    </table>

    <a href="{{ path('vendedores_index') }}">back to list</a>

    <a href="{{ path('vendedores_edit', {'id': vendedore.id}) }}">edit</a>

    {{ include('vendedores/_delete_form.html.twig') }}
{% endblock %}
