<!DOCTYPE html>
<html lang="es">
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Inmobiliaria Foliva</title>
        <link rel="stylesheet" href="{{ asset("css/app.css")}}">
        <link rel="icon" href="data:image/svg+xml,<svg xmlns=%22http://www.w3.org/2000/svg%22 viewBox=%220 0 128 128%22><text y=%221.2em%22 font-size=%2296%22>⚫️</text></svg>">
        {# Run `composer require symfony/webpack-encore-bundle` to start using Symfony UX #}
        {% block stylesheets %}
            {{ encore_entry_link_tags('app') }}
        {% endblock %}

        {% block javascripts %}
            {{ encore_entry_link_tags('app') }}
        {% endblock %}
    </head>
    <header class="header inicio" style="background-image:url('{{asset('/build/img/header.jpg')}}')">
        <div class="contenedor contenido-header">
            <div class="barra">
                <a href="/">
                    <img src="/build/img/logoFinal.png" alt="Logotipo de Inmobiliaria Foliva" class="logoFinal">
                </a>
                <div class="mobile-menu">
                    <img src="/build/img/barras.svg" alt="icono menu responsive">
                </div>
                <div class="derecha">
                    <nav class="navegacion">
                        <a href="/propiedades">Propiedades</a>
                        <a href="/contact">Contacto</a>
                    </nav>
                </div>
            </div>
            <!--<h1>
                Venta de casas y pisos exclusivos de lujo
            </h1>-->
        </div>
    </header>
    <body>
        {% block body %}{% endblock %}
    </body>
    <footer class="footer seccion">
        <div class="contenedor contenedor-footer">
            <nav class="navegacion">
                <a href="/propiedades">Propiedades</a>
                <a href="/contact">Contacto</a>
            </nav>
        </div>
        <p class="copyright">Todos los derechos reservados ©2021</p>
    </footer>
</body>
</html>
